{% extends 'base.html' %}
{% block content %}

<style>
    .error-page {
        font-family: 'Press Start 2P', cursive;
        text-align: center;
        margin-top: 50px;
        color: black;
        padding: 20px;
    }
    .error-page h1 {
        margin-bottom: 80px;
        margin-top: 60px;
    }
</style>

<div class="error-page">
    <h1>Server Error (500)</h1>
    <p>Oops! Something went wrong. Please try again later.</p>
    <a href="{% url 'index' %}">Go back to the homepage</a>
</div>

{% endblock %}